/* Styles for Charlie's Cafe */


div{
    position: absolute;
}

body {
    font-family: joost, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 5%;
    background-color: antiquewhite;
    text-align: left;
    background-image: url("Bauhaus-Kaffee1.png");

    
}
img.charlies{
    position: absolute;
    padding-right: 8%;
    max-width: 100%;
    display: block;
    margin: 220 auto 0 auto;
    
}
img.c{
    padding-right: 8%;
    max-width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}
h1{
    text-align: left;
    color: #d4380a;
    font-size: 60px;
    margin-bottom: 1%;
    margin-top: 0px;
}
h2{
    color: black;
    text-align: left;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 450;
}
h3{
    font-size: 30px;
    color: #5c73b5;
    margin-top: 15%;
    margin-bottom: 5%;
}

h4{
    color: #5c73b5;
    font-size: 30px;
    margin-top: 15%;
    margin-bottom: 5%;
}
h5{
    color: #5c73b5;
    text-align: left;
    font-size: 30px;
    margin-top: 15%;
    margin-bottom: 5%;
}
h6{
    font-size: 30px;
    color: #5c73b5;
    margin-top: 15%;
    margin-bottom: 5%;

}
p{
    color: black;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    font-size: 17;
    letter-spacing: 1px;
}
p.subheading{
    letter-spacing: 1.5px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    
}
}
ul {
    margin-bottom: 1.5rems;
    letter-spacing: 1px;
    list-style-type: none;
    font-size: 15;

}