/* Styles for Charlie's Cafe */

.container{
    background-image: url(../img/Bauhaus-Kaffee1.png);
    background-size: cover;
    position: absolute;
    max-width: auto;
    padding-bottom: 50%;
  
}

.li{
  display: grid;
grid-template-areas: 
    " small medium"
    "s m";
  grid-template-columns: 2fr 2fr 
  padding: 2rem;
  width: 80%;
}
.small {
    text-align: left;
    grid-gap: 2rem;
    width: 80%;
}
.medium {
text-align: left;
width: 60%;

}
.subheading{
text-align: left;
}

@media screen and (min-width: 680px) {
  li {
    grid-template-areas:
      "Beverages small medium";
  }
}

body {
    font-family: joost, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 5%;
    background-color: antiquewhite;
    text-align: left;
    box-sizing: border-box;
    
}
    
img.c{
    padding-right: 8%;
    max-width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}
h1{
    text-align: left;
    color: #d4380a;
    font-size: 60px;
    margin-bottom: 1%;
    margin-top: 0px;
}
h2{
    color: black;
    text-align: left;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 450;
}
h3{
    font-size: 30px;
    color: #5c73b5;
    margin-top: 10%;
    margin-bottom: 5%;
    text-decoration: underline;
}

h4{
    color: #5c73b5;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 5%;
    text-decoration: underline;
}
h5{
    color: #5c73b5;
    text-align: left;
    font-size: 30px;
    margin-top: 10
        %;
    margin-bottom: 5%;
    text-decoration: underline;
}
h6{
    font-size: 30px;
    color: #5c73b5;
    margin-top: 15%;
    margin-bottom: 5%;
    text-decoration: underline;

}
p{
    color: black;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    font-size: 17;
    letter-spacing: 1px;
}
p.subheading{
    letter-spacing: 1.5px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    
}
ul {
    margin-bottom: 1.5rems;
    letter-spacing: 1px;
    list-style-type: none;
    font-size: 15;

}
.detail {
    width: 70%;
}